<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>279799436220-f8l2mn3cfqeg5m5b6knuudes6sfcjcmq.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.279799436220-f8l2mn3cfqeg5m5b6knuudes6sfcjcmq</string>
	<key>API_KEY</key>
	<string>AIzaSyCGAahoGS7-XI-_VgY3hxEdEg1I0aZmst0</string>
	<key>GCM_SENDER_ID</key>
	<string>279799436220</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.cokcosuri.masterapp</string>
	<key>PROJECT_ID</key>
	<string>cokcosuri-f235e</string>
	<key>STORAGE_BUCKET</key>
	<string>cokcosuri-f235e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:279799436220:ios:0551fee90a9fc529ea91b9</string>
</dict>
</plist>